# Go binaries
/bin/
/*.exe
/*.out
/*.test

# Go modules
/go.sum
/go.mod

# Vendor directory (if using vendoring)
vendor/

# IDE and editor settings
.idea/
/.vscode/

# Mac OS specific files
.DS_Store

# Log files
*.log

# Logs and temporary files
*.log
/tmp/


# Build output
build/

# Coverage reports
*.coverprofile

# Temporary files
*.tmp
*.swp

# Environment files
.env
